@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Montserrat:wght@100;200;300;400;500;600;700&family=Open+Sans:wght@300;400;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap");

body {
	background-color: #f9f9f9;

	a{
		text-decoration: none;
	}
	.league {
		.league_name {
			font-family: "Poppins", sans-serif;
			font-weight: bold;
			color: black;
			p{
				a{
					font-size: 20px;
					color: black;
				}
			}
		}
	}
	article {
		background-color: #fff;
		padding-top: 20px;
		min-height: 100px;
		.form {
			font-size: 10px;
		}
		.score {
			font-weight: 700;
			font-family: "Poppins", sans-serif;
			font-size: 28px;
		}
		.team_name {
			font-family: "Poppins", sans-serif;
			font-weight: 400;
			font-size: 20px;
		}
		.details {
			font-size: 10px;
		}
		.details_container {
			width: 100%;
			align-items: flex-end;

			.gCard {
				min-width: 10px;
				min-height: 15px;
			}
			.yellow {
				background-color: #ffe600;
			}
			.red {
				background-color: red;
			}
		}
	}
	.logo
	{
		width: 70px;
		height: 50px;

	}
}
